.accommodation-stats {
    border: solid #adadff 1px;
    background-color: #35536ecc;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 80vh;
    align-items: center;
    color: #ddd;
    justify-self: center;
    border-radius: 10px;
    padding: 8px 15px;
    width: 70vw;
}
.grafico h3 {
    font-variant: small-caps;
    font-size: 1.5em;
    text-align: center;
}
.grafico canvas{
    max-height: 50vh;
}

.accommodation-stats h2 {
    text-align: center;
    text-decoration:underline;
    font-size: 2em;
    font-variant: small-caps;
}
.accommodation-stats_date-form {
    justify-self: center;
}

.accommodation-stats input{
    background-color: #9292ff;
    border-radius: 5px;
    color: #333;
    margin-inline: 1vw;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}
.accommodation-stats button {
    width: 9vw;
    border: #99c 1px solid;
    margin-inline: 1vw;
    background-color: var(--font-color);
    color: #ddd;
    padding: 5px 10px;
    border-radius: 8px;
}