/* Estilo base */
:root {
  --font-color: #10148f;
  --hover-color: #0000ff;
}

.App {
  text-align: center;
}

.login-close-button{
  border-radius: 50%;
  background-color: var(--font-color);
  color: #f9f9f9;
  padding: 2px 7px;
  position: absolute;
  top: 10px;
  align-content: center;
  text-align: center;
  right: 10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
}
.login-close-button:hover{
  font-size: 26px;
  padding: 3px 8px;
  margin-top: -3.45px;
  margin-right: 3px;
  transition: 0.3s;
}

/* Estilos para el formulario de Login */
.login-form {
  margin-top: 20px; /* Espacio superior */
}
.mobile-login-button{
  display: none;
}

.login-form h2{
  color: #0b0b4b;
}
.login-form div {
  margin-bottom: 15px; /* Espacio entre los campos del formulario */
}

.login-form label {
  display: block; /* Que el label ocupe una línea completa */
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.login-form input {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Bordes */
  border-radius: 5px; /* Bordes redondeados */
}
.login-sidebar{
  background-color: #aaaaaa;
}
.login-form button {
  margin-top: 10px; /* Espacio superior */
  background-color: var(--font-color); /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 10px; /* Espaciado interno */
  font-size: 1em; /* Tamaño de fuente */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.login-form button:hover {
  background-color: var(--hover-color); /* Color de fondo al pasar el mouse */
}

.login-options {
  margin-top: 15px; /* Espacio superior */
}

.login-options a {
  color: var(--font-color); /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s ease; /* Transición suave para el color */
}

.login-options a:hover {
  color: var(--hover-color); /* Color del enlace al pasar el mouse */
}

/* Estilos para el formulario de Olvidé la Contraseña */
.forgot-password-form {
  margin-top: 20px; /* Espacio superior */
}

.forgot-password-form div {
  margin-bottom: 15px; /* Espacio entre los campos del formulario */
}

.forgot-password-form label {
  display: block; /* Que el label ocupe una línea completa */
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.forgot-password-form input {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Bordes */
  border-radius: 5px; /* Bordes redondeados */
}

.forgot-password-form button {
  margin-top: 10px; /* Espacio superior */
  background-color: var(--font-color); /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 10px; /* Espaciado interno */
  font-size: 1em; /* Tamaño de fuente */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  margin: 0 10px;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.forgot-password-form button:hover {
  background-color: var(--hover-color); /* Color de fondo al pasar el mouse */
}

/* Mensaje de error o éxito */
.forgot-password-form p {
  margin-top: 10px; /* Espacio superior */
  color: var(--font-color); /* Color del mensaje */
  font-weight: bold; /* Negrita */
}


.h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
  color: var(--font-color);
  margin-bottom: 20px;
}

.whatsapp {
  width: 5vw; /* Ajusta el ancho para que sea igual al alto */
  height: 5vw; /* Alto fijo */
  display: flex;
  position: fixed;
  font-size: 40px;
  padding: 0;
  bottom: 20px; /* Cambia según sea necesario */
  right: 20px; /* Cambia según sea necesario */
  background-color: rgb(21, 139, 15);
  border-radius: 50%; /* Asegúrate de que sea 50% para un círculo */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  z-index: 1000; /* Asegura que el ícono esté por encima de otros elementos */
  transition: transform 0.3s ease; /* Animación para el ícono */
}

.whatsapp:hover {
  transform: scale(1.1); /* Efecto de aumento cuando se pasa el cursor */
}
.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.logo-utn-mobile{
  display: none;
}

/* Ajustes para pantallas pequeñas (mobile-first) */
@media (max-width: 768px) {
  .login-container{
    margin-left: 10px;
  }
  .logo-utn-nav{
    display: none;
  }
  .logo-utn-mobile{
    display: flex;
  }

  .whatsapp {
    width: 60px; /* Tamaño fijo */
    height: 60px; /* Tamaño fijo */
    font-size: 30px; /* Ajustamos el tamaño del icono */
  }
  .login-form h2{
    margin-right: 50%;
    align-items: start;
  }
  .login-button{
    display: none;
  }
  .mobile-login-button{
    display: flex;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }

  .mobile-menu-button {
    color: #fff;
    display: block;
  }


  .nav-links.open {
    display: flex;
  }
}