.containerUyC {
  width: 90%;
  margin-left: 5vw;
  height: auto;
  padding: 30px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #7a7a7ab5;
  border: solid #9e9eaf 1px;
  border-radius: 15px;
}

.containerUyC h1 {
  font-variant: small-caps;
  color: #0e0e2f !important;
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: row; /* Distribución horizontal */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.contenedor-contacto {
  display: flex;
  flex-direction: column; /* ¡Añadido! Para que el mapa y las distancias se apilen verticalmente */
  /* flex: 1; */ 
  justify-content: flex-start;
}

.contact-map {
  width: 35vw; /* ¡Modificado! Reducido el ancho del mapa */
  height: 40vh;
  border: none;
  border-radius: 10px;
  margin-left: 5vw;
  position: relative;
  left: -5rem;
}

.contact-block {
  width: 35vw; /* ¡Modificado! Reducido el ancho del formulario */
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: r7a7a7ab5(0, 190, 255, 0.4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin-left: -5rem; */ /* ¡Eliminado!  */ 
}

.contact-block input,
.contact-block textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-block button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-block button:hover {
  background-color: #0056b3;
}

.distancias-container {
  width: 35vw; /* ¡Modificado! Ajustado el ancho */
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.distancia {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .containerUyC {
    width: 200vw;
    margin-left: 25vw;
    justify-items: center;
  }
  .contenedor-contacto {
    margin-left: 25vw;
    padding-right: 0;
  }
  .contact-map{
    width: 100%;
  }
  .contact-block {
    width: 43%;
    align-self: 0;
    margin-right: 10vw;
  }
}