/* El contenedor principal de la página debe ser flexible y ocupar todo el espacio disponible */
.main-content {
    min-height: 100%; /* Asegura que el contenido principal ocupe al menos la altura de la pantalla */
    padding-bottom: 100px; /* Da espacio suficiente para el footer */
}

/* El footer debe estar al final de la página si el contenido es poco, pero desplazarse cuando haya suficiente contenido */
footer {
    background-color: #333;
    display:flex;
    flex-wrap: wrap;
    color: white;
    padding: 0 0;
    width: 100%;
}

/* Resto de tus estilos de footer (ya lo tienes bien configurado) */
.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.4%;
}

.footer-div-1{
    padding: 20px;
}

a {
    color: #f0f0f0;
    padding: 0 0.5em;
}

.footer-div-4 {
    background-color: #212121;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    padding: 20px;
    margin-top: 20px;
    white-space: normal;
}

.icon-margin {
    margin-right: 0.5em;
}

.footer-div.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-a {
    display: flex;
    text-align: left;
    padding: 0.5em;
    color: #f0f0f0;
    font-size: small;
}

.social-icon {
    margin-left: 0.5em;
    color: #f0f0f0;
    font-size: 4em;
    transition: 0.5s;
}

.social-icon:hover {
    font-size: 4.3em;
    color: #9e9e9e;
}

.footer-img {
    max-height: 200px;
    max-width: 200px;
    margin-top: 10px;
    margin-left: 40px;
}

@media (max-width: 780px){
    footer{
        width: 250vw;
    }
    .social-icon{
        margin: 0;
    }
    .footer-div.socials, .footer-div, .footer-div-1{
        flex-direction: row;
        padding-inline: 10px;
        gap: 0;
    }
    .footer-div{
        padding: 0;
        width: 150px;
        height: 150px;
        margin-right: 100px;
    }
    .footer-img {
        width: 200px !important;
        padding-right: 10px !important;
        height: 130px;
    }
    .footer-div.socials{
        margin-inline: 50px;
        font-size: 0.9em;
    }
}
