/* Contenedor principal del Dashboard */
.dashboard-container {
  padding: 20px;
}

.calendar-table-owner-container {
  max-width: 1160px;
  margin-top: 10px;
  background-color: #0055;
  border: solid rgb(35, 35, 128) 1px;
  max-height:min-content;
  padding: 5px 10px;
  justify-items: center;
  border-radius: 15px;
  white-space: nowrap; /* Evita que el contenido se ajuste automáticamente */
  margin-left: 40px;
}
.calendar-table-owner::-webkit-scrollbar{
  background-color: #adadff; 
  border-radius: 10px; /* Redondear bordes */
  border: 1px solid #f4f4f4; /* Espaciado entre el pulgar y la pista */
}
.calendar-table-owner::-webkit-scrollbar-thumb{
  background-color: #070759;
  border-radius: 8px;
  border: 1px solid #f4f4f4;
}

/* Estilo para la tabla del calendario */
.calendar-table-owner {
  background-color: #d5d2ffaa;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: auto;
  width: 100%;
  margin-left: auto;
}
.calendar-table-owner table{
  width: 100%;
}
.date-range-form{
  border: solid #adadff 1px;
  background-color: #9a9aee49;
  align-items: center;
  color: #ddd;
  margin-left: 21vw;
  border-radius: 10px;
  padding: 5px 15px;
  width: fit-content;
}
.date-range-form label{
  margin-right: 20px;
}

.date-range-form input{
  background-color: #9292ff;
  border-radius: 5px;
  color: #333;
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}
.date-range-form button {
  background-color: var(--font-color);
  color: #ddd;
  padding: 5px 10px;
  border-radius: 8px;
}

.dashboard-h2 {
  color: #ddd;
  background-color: var(--font-color);
  padding: 5px 20px;
  margin-left: 35vw;
  box-shadow: 3px -3px 3px #555555;
  border-radius: 5px;
  border: solid #002 1px;
  max-width: fit-content;
}

.dashboard-td {
  color: #ddd;
}

/* Estilo para las celdas de la tabla (th y td) */
.calendar-table-owner th,
.calendar-table-owner td {
  padding: 10px;
  border: solid #222 1px;
  text-align: center;
}

.calendar-table-owner tr:last-child td:first-child{
  border-bottom-left-radius: 12px;
}
.calendar-table-owner tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

/* Estilo para los encabezados de la tabla */
.calendar-table-owner th {
  cursor: default;
  background-color: #4CAF50; /* Verde de fondo */
  border: solid #222 1px;
  color: rgb(2, 33, 0); /* Color blanco para el texto */
}
.calendar-table-owner th:first-child{
  border-top-left-radius: 12px;
}
.calendar-table-owner th:last-child{
  border-top-right-radius: 12px;
}
.calendar-table-owner td:first-child{
  background-color: #f5de85;
}
.accomodation-cell{
  cursor: pointer;
  color: #2b2301;
  padding: 5px;
  border-radius: 5px; /* Bordes redondeados */

}


/* Estilo para las celdas disponibles */
.available {
  cursor: pointer;
  background-color: #e0ffe0; /* Fondo verde claro */
  color: #2d7a2d; /* Texto verde oscuro */
  border: solid 1px #030;
  padding: 5px;
  border-radius: 5px; /* Bordes redondeados */
}
.calendar-table-owner td{
  width: fit-content;
  padding: 3px;
}
/* Estilo para las celdas reservadas */
.blocked {
  cursor: pointer;
  background-color: #ffcccc; /* Fondo rojo claro */
  color: #a33a3a; /* Texto rojo oscuro */
  border: solid 1px #300;
  padding: 5px;
  border-radius: 5px; /* Bordes redondeados */
}
.calendar-table-owner td:nth-child(1), .calendar-table-owner th:nth-child(1){
  position: sticky;
  left: 0;
  z-index: 1;
}
.pending {
  cursor: pointer;
  background-color: #ffeecc; /* Fondo rojo claro */
  color: #a2762e; /* Texto rojo oscuro */
  border: solid 1px #330;
  padding: 5px;
  border-radius: 5px; /* Bordes redondeados */
}
.modal-content-owner{
  background-color: var(--card-color-transparent);
  padding-top: 20px;
  justify-items: center;
  border: solid #002 1px;
  border-radius: 15px;
}
.modal-createBooking{
  background-color: var(--card-color-transparent);
  border: solid #002 1px;
  border-radius: 15px;
  width: 50vw;
  height: 50vh;
  padding-inline: 30px;
  padding-bottom: 20px;
  justify-content: center;
}

.modal-content-owner button, .modal-createBooking button{
  border-radius: 5px;
  margin-inline: 5px;
  background-color: var(--font-color);
  color: #ddd;
  padding: 5px 10px;
  border-radius: 8px;
}
.modal-content-owner p, .modal-field-owner, .modal-createBooking p, .label-createBooking{
  border: solid #002 1px;
  background-color: #ddddffcc;
  padding: 4px 8px;
  margin: 5px;
}
.modal-content-owner p{
  width: 30vw;
}
.modal-content-owner button{
  margin-top: 1vh;
}

.modal-createBooking p{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.label-createBooking:nth-of-type(4){
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.label-createBooking:nth-of-type(3) input{
  margin-left: 7.8vw;
}
.label-createBooking:nth-of-type(2) input{
  margin-left: 18.2vw;
}
.label-createBooking:nth-of-type(1) input{
  margin-left: 17vw;
}
.label-createBooking:nth-of-type(4) input{
  margin-left: 9.1vw;
}
.owner-p:first-of-type, .modal-field-owner:first-of-type{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-h3-owner-dashboard{
  margin-left: 60px !important;
}
.owner-p:last-of-type, .modal-field-owner:nth-last-child(2){
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.modal-content-owner{
  width: 40vw;
  padding-inline: 30px;
  padding-bottom: 20px;
  justify-content: center;
}
.input-alojamiento-1{
  margin-left: 182px;
}
.input-alojamiento-2{
  margin-left: 200px;
}
.modal-content-owner h3, .modal-createBooking h3{
  max-width: fit-content;
  padding: 5px 10px;
  justify-self: center;
  background-color: #aaaaeecc;
  border: solid #002 1px;
  border-radius: 5px;
}
@media (max-width: 780px){
  .dashboard-h2{
    justify-self: center;
    margin-left: 10vw;
  }
  .dashboard-container {
    display: block;
    width: 200vw;
    margin-left: 40px;
    justify-items: center;
  }
  .calendar-table-owner-container{
    max-width: 200vw;
  }
  .modal-createBooking{
    width: 100vw;
    height: 45vh;
    justify-items: center;
    padding: 5vh 10vw;
  }
  .modal-createBooking .label-createBooking, .modal-createBooking p{
    width: 90vw;
  }
  .modal-createBooking h3{
    margin-top: auto;
  }
  .label-createBooking:nth-of-type(3) input{
    margin-left: 2.7vw;
  }
  .label-createBooking:nth-of-type(2) input{
    margin-left: 25.1vw;
  }
  .label-createBooking:nth-of-type(1) input{
    margin-left: 22.5vw;
  }
  .label-createBooking:nth-of-type(4) input{
    margin-left: 5.5vw;
  }
  .modal-content-owner{
    width: 100vw;
  }
  .modal-content-owner p{
    width: 85vw;
  }
}

@media (max-width: 360px){
  .dashboard-container {
    display: block;
    width: 200vw;
    margin-left: 40px;
    justify-items: center;
  }
  .date-range-form{
  width: 195vw;
  margin-left: 12vw;
  }
  .modal-overlay{
    max-height: 150vh;
  }
  .calendar-table-owner-container{
    max-width: 200vw;
  }
  .modal-content-owner button{
    width: 50vw;
    margin-left: 15vw !important;
  }
  .modal-createBooking{
    width: 100vw;
    height: 45vh;
    justify-items: center;
    padding: 5vh 10vw;
  }
  .modal-createBooking .label-createBooking{
    width: 90vw;
  }
  .modal-createBooking h3{
    margin-top: auto;
  }
  .label-createBooking:nth-of-type(3) input{
    width: 40vw;
    margin-left: 2vw;
  }
  .label-createBooking:nth-of-type(2) input{
    margin-left: 31.5vw;
  }
  .label-createBooking:nth-of-type(1) input{
    margin-left: 27vw;
  }
  .label-createBooking:nth-of-type(4) input{
    width: 40vw;
    margin-left: 6.8vw;
  }
}