/* Estilo base */
:root{
  --font-color: #10148f;
  --hover-color: #0000ff;
}

/* Contenedor principal del Dashboard */
.dashboard-container {
  padding: 20px;
}

/* Estilo para la tabla del calendario */
.calendar-table-owner {
  background-color: #444466aa;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 100%;
  margin-top: 20px;
}

.dashboard-h2 {
  color: #ddd;
  background-color: var(--font-color);
  padding: 5px 20px;
  margin-left: 35vw;
  box-shadow: 3px -3px 3px #555555;
  border-radius: 5px;
  border: solid #002 1px;
  max-width: fit-content;
}

.dashboard-td {
  color: #ddd;
}

/* Estilo para las celdas de la tabla (th y td) */
.calendar-table-owner th,
.calendar-table-owner td {
  padding: 10px;
  border: solid #222 1px;
  text-align: center;
}
.calendar-table-owner tr:last-child td:nth-last-child(8){
  border-bottom-left-radius: 12px;
}
.calendar-table-owner tr:last-child td:last-child{
  border-bottom-right-radius: 12px;
}

/* Estilo para los encabezados de la tabla */
.calendar-table-owner th {
  background-color: #4CAF50; /* Verde de fondo */
  border: solid #222 1px;
  color: white; /* Color blanco para el texto */
}
.calendar-table-owner th:first-child{
  border-top-left-radius: 12px;
}
.calendar-table-owner th:last-child{
  border-top-right-radius: 12px;
}

/* Estilo para las celdas disponibles */
.available {
  background-color: #e0ffe0; /* Fondo verde claro */
  color: #2d7a2d; /* Texto verde oscuro */
  padding: 5px;
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para las celdas reservadas */
.reserved {
  background-color: #ffcccc; /* Fondo rojo claro */
  color: #a33a3a; /* Texto rojo oscuro */
  padding: 5px;
  border-radius: 5px; /* Bordes redondeados */
}
