.StylePrivacidad{
    padding: 50px 20px;
    align-items: center;
    font-size: 14px;
    max-width: 1180px;
    margin: 10px auto;
    display: flexbox;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #aaaaccaa;
    border-radius: 15px;
}
.fotoPrivacidad{
    max-width: 100%;
    height: auto;
}
.TitulosPrivacidad{
    text-align: center;
}