.programas-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  min-height: 60vh;
  position: relative;
  background-color: #8888aaaa;
  
}

.programas-container h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.programas-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.programa-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 370px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
 
}

.programa-card:hover {
  transform: translateY(-5px);
}

.programa-card img {
  width: 150%;
  height: 200px;
  object-fit: cover;
  margin-left: -3%;
}

.programa-content {
  padding: 15px;
  bottom: 0; /* Posiciona el contenido en la parte inferior */
  left: 0;
  width: 100%;
  color: white; /* Color del texto */
  position: relative;
  z-index: 1;
}

.programa-content h2 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: rgb(7, 7, 7); /* Color del texto */
}

.programa-content p {
  font-size: 0.9rem;
  color: white; /* Color del texto */
}

.fondo-programas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5; /* Ajusta la opacidad de la imagen */
}

/* Móviles */
@media (max-width: 768px) {
  
  .programas-grid {
    /* ... ajusta el número de columnas de la grilla ... */
    flex-direction: column; /* Muestra las tarjetas en una sola columna */
  }

  .programa-card {
    /* ... ajusta el ancho de las tarjetas ... */
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    margin-left: 0;
  }

  .programa-content h2 {
    /* ... ajusta el tamaño de la fuente ... */
    font-size: 1rem; 
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  /* ... estilos para tablets ... */
}

/* Pantallas pequeñas */
@media (min-width: 1024px) and (max-width: 1366px) {
  /* ... estilos para pantallas pequeñas ... */
}

/* Pantallas grandes */
@media (min-width: 1366px) {
  /* ... estilos para pantallas grandes ... */
}