.programa-utn-container {
    width: 60%;  /* Ajusta el ancho de la imagen */
    margin: 0 auto; /* Centra la imagen */
  }
  
  .programa-utn-container img {
    width: 100%;
    height: auto;
  }
  
  .programa-utn-container h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del título */
    margin-top: 1rem; /* Espacio superior */
  }
  
  .programa-utn-container p {
    text-align: justify; /* Justifica el texto */
    line-height: 1.5; /* Ajusta el interlineado */
  }

  .volver-programas {
    color: #5800e7;
    display: block; /* Para que ocupe todo el ancho */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 1rem; /* Espacio inferior */
    /* ... otros estilos que desees ... */
  }

  fondo-programa-re {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* Ajusta la opacidad si es necesario */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
  }
  
  .imagen-principal {
    /* Estilos para la imagen principal si son necesarios */
    width: 100%; /* O el ancho que desees */
    height: auto;
  }

  /* Móviles */
@media (max-width: 768px) {
  
  .programas-grid {
    /* ... ajusta el número de columnas de la grilla ... */
    flex-direction: column; /* Muestra las tarjetas en una sola columna */
  }

  .programa-card {
    /* ... ajusta el ancho de las tarjetas ... */
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    margin-left: 0;
  }

  .programa-content h2 {
    /* ... ajusta el tamaño de la fuente ... */
    font-size: 1rem; 
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  /* ... estilos para tablets ... */
}

/* Pantallas pequeñas */
@media (min-width: 1024px) and (max-width: 1366px) {
  /* ... estilos para pantallas pequeñas ... */
}

/* Pantallas grandes */
@media (min-width: 1366px) {
  /* ... estilos para pantallas grandes ... */
}