.styleTermino{
    padding: 50px 20px;
    align-items: center;
    font-size: 14px;
    margin-inline:  auto;
    margin-top: 15vh;
    display: box;
    width: 90vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #8888aaaa;
    border-radius: 15px;
}
.styleTermino img{
    max-width: 100%;
    height: auto;
}

.TituloTermino{
    text-align: center;
    font-size: 2.5em;
    font-variant: small-caps;
}

@media (max-width: 768px){
    .styleTermino{
        width: 180vw;
        margin-inline: 30vw;
    }
}